html{
	scroll-behavior: smooth;
	min-height: 100%;
}
.btn-outline-success {
    color: #02B875 !important;
    border-color: #02B875 !important;
}
.btn-outline-success:hover {
    color: #fff !important;
    background-color: #02B875;
    border-color: #02B875;
}

.jumbo-screen{
	width: 100%;
	
	background-origin: border-box;
	background-size:cover;
	-moz-box-shadow:    inset 0 0 10vh 8vw #fff;
	-webkit-box-shadow: inset 0 0 10vh 8vw #fff;
	box-shadow:         inset 0 0 10vh 8vw #fff;
	height: 100vh;
}

.bg-home__light{
	background-color: #f9f9f8;
	-moz-box-shadow:    inset 0 0 10vh 2vw #fff;
	-webkit-box-shadow: inset 0 0 10vh 2vw #fff;
	box-shadow:         inset 0 0 10vh 2vw #fff;
}

.section-heading:after{
	background-image: url(../img/separator.png);
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    height: 24px;
    left: 50%;
    margin-left: -75px;
    position: absolute;
    top: 100%;
    width: 150px;
}

.cta-section__red{
    padding: 64px 0;
    background: transparent;
    background-image: url('../img/pattern_1.png');
    background-repeat: repeat;
    background-position: center center;
    background-size: initial;
    background-attachment: fixed;
    display: block;
    clear:both;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.cta-section__red:before{
        position: absolute;
        width: 100%;
        height: 100%;
        background:#FE3C47;
        opacity: 0.85;

        top: 0;
        left: 0;
        content: '';
    }



#enquirenow{
	position: relative;
    overflow: hidden;
}

.appointment-img {
    height: 650px;
    position: relative;
    bottom: 0;
    left: 0;
}

/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as todo operation.
 */
 .header--fixed {
	position: sticky !important;
	z-index: 10;
	height: 75px;
	right: 0;
	left: 0;
	top: 0
  } 

 .header--fixed--clearfix{
	 position: relative;
	 height: 75px;
 }
 .headroom {
    will-change: transform;
    transition: transform 200ms ease-in-out;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
	display: none;
    transform: translateY(-100%);
}


/*
Beautify login page 
*/
.login-left--beautify{
	min-height: 100%;
	background-image: url('../img/donerDay.jpg');
	background-position: fixed;
	background-size: cover;
}

.errorLogin:before{
 content:' ';
 height: 10vw;
 width: 10vw;
 vertical-align: middle;
 background-size: cover;
 background-image: url(../img/error.jpg);
 display: inline-block;
 margin-right: 2rem;
}
